/*
*section's
*/
.cw-section{
  padding: 95px 0;
}

/*
*opacity div's
*/
.cw-div-opacity::before{
  opacity: .7;
}

/*
*button's
*/
.button{
  color: var(--color-primaru);
  text-decoration: none;
  transition: .3s all ease-in-out;
}
.button:hover{
  cursor: pointer;
  color: var(--color-secondary);
  text-decoration: none;
}

/*
*divider's
*/
.divider{
  width: 75px;
  height: 3px;
  margin-bottom: 1.4rem;
  background-color: var(--color-secondary-background);
}

/*
*content's
*/
h2{
  font-weight: 300 !important;
  font-size: 2.25rem !important;
  text-transform: uppercase;
  margin-bottom: 1.4rem !important;
}
p{
  line-height: 1.7 !important;
  margin-bottom: 1.4rem !important;
}

/*
*slick slider
*/
.slick-dots{
  bottom: 30px !important;
}
.slick-dots li button{
  width: 18px !important;
  height: 18px !important;
  border: 1px solid var(--color-secondary);
  border-radius: 50%;
  background-color: var(--color-background) !important;
  opacity: .7;
  transition: .3s all ease-in-out;
}
.slick-dots li.slick-active button{
  opacity: 1;
}
.slick-dots li button:before{
  color: var(--color-white) !important;
}
.slick-dots li.slick-active button:before{
  width: 18px !important;
  height: 18px !important;
  border-radius: 50%;
  color: var(--color-secondary) !important;
  background-color: var(--color-secondary-background);
}

