/*
*section's
*/
.cw-section{
  padding: 95px 0;
}

/*
*opacity div's
*/
.cw-div-opacity::before{
  opacity: .7;
}

/*
*margins's and padding's
*/
.mt-14{
  margin-top: 14px;
}

/*
*button's
*/
.button{
  color: var(--color-primaru);
  text-decoration: none;
  transition: .3s all ease-in-out;
}
.button:hover{
  cursor: pointer;
  color: var(--color-secondary);
  text-decoration: none;
}

/*
*display's
*/
.hide{
  display: none !important;
}

/*
*divider's
*/
.divider{
  width: 75px;
  height: 3px;
  margin-bottom: 1.4rem;
  background-color: var(--color-secondary-background);
}
.divider-page{
  width: 100%;
  height: 1px;
  margin-top: 1.4rem;
  background-color: var(--color-secondary-background);
}

/*
*content's
*/
h2{
  font-weight: 300 !important;
  font-size: 2.25rem !important;
  text-transform: uppercase;
  margin-bottom: 1.4rem !important;
}
p{
  line-height: 1.7 !important;
  margin-bottom: 1.4rem !important;
}
.entry-title{
  width: 100%;
  height: 100%;
  display: grid;
  align-items: end;
  color: var(--color-white);
  font-weight: 300;
  position: relative;
  left: 125px;
  bottom: 15px;
}

/*
*background default
*/
.bg-page{
  width: 100vw;
  height: 300px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*
*slick slider
*/
.slick-dots{
  bottom: 30px !important;
}
.slick-dots li button{
  width: 18px !important;
  height: 18px !important;
  border: 1px solid var(--color-secondary);
  border-radius: 50%;
  background-color: var(--color-background) !important;
  opacity: .7;
  transition: .3s all ease-in-out;
}
.slick-dots li.slick-active button{
  opacity: 1;
}
.slick-dots li button:before{
  color: var(--color-white) !important;
}
.slick-dots li.slick-active button:before{
  width: 18px !important;
  height: 18px !important;
  border-radius: 50%;
  color: var(--color-secondary) !important;
  background-color: var(--color-secondary-background);
}

/*
*contac form 7 - default
*/
.wpcf7 .wpcf7-number,
.wpcf7 .wpcf7-text,
.wpcf7 .wpcf7-textarea{
  text-indent: 18px;
}
.wpcf7 .fas,
.wpcf7 .fa{
  position: relative;
  left: 12px;
  top: 27px;
  font-weight: 600;
  color: var(--color-primary);
  z-index: 2;
}
.wpcf7 #destino.wpcf7-text,
.wpcf7 #origem.wpcf7-text{
  text-indent: 0px !important;
}