/*
*Add class from color
*/
:root{
  /* colors */
  --blackLight    : #3C3C3C;
  --white         : #FFF;

  /* fonts */
  --roboto  : 'Roboto', sans-serif;

  /* variables dashboard */
  --color-primary: #7380EC; 
  --color-danger: #FF7782;
  --color-success: #41F1B6;
  --color-warning: #FFBB55;
  --color-white: #FFF;
  --color-info-dark: #7D8DA1;
  --colot-info-light: #DCE1EB;
  --color-dark: #363949;
  --color-light: rgba(132,139,200, .18);
  --color-primary-variant: #111E88;
  --color-dark-variant: #677483;
  --color-background: #F6F6F9;

  --card-border-radius: 2rem;
  --border-radius-1: .4rem;
  --border-radius-2: .8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}
/* dark theme variables */
.dark-theme-variables{
  --color-background: #181A1E;
  --color-white: #202528;
  --color-dark: #EDEFFD;
  --color-dark-variant: #A3BDCC;
  --color-light: rgba(0,0,0,.4);
  --box-shadow: 0 2rem 3rem var(--color-light);       
}

/*
*none
*/
.cpw-none{
  display: none !important;
}
  /*media screen*/
  @media screen and (max-width: 1199px){
    .cpw-none-1199{
      display: none;
    }
  }
  @media screen and (max-width: 991px){
    .cpw-none-991{
      display: none;
    } 
  }
  @media screen and (max-width: 767px){
    .cpw-none-767{
      display: none;
    } 
  }
  @media screen and (max-width: 575px){
    .cpw-none-575{
      display: none;
    } 
  }
  @media screen and (max-width: 360px){
    .cpw-none-360{
      display: none;
    } 
  }


/*
*margins
*/
.cpw-margin-auto{
  margin: 0 auto;
}
.cpw-margin-r1{
  margin-right: 1rem;
}
.cpw-margin-r2{
  margin-right: 1.5rem;
}
.cpw-margin-r3{
  margin-right: 1.8rem;
}
.cpw-margin-r4{
  margin-right: 2rem;
}

.cpw-margin-l1{
  margin-left: 1rem;
}
.cpw-margin-l2{
  margin-left: 1.5rem;
}
.cpw-margin-l3{
  margin-left: 1.8rem;
}
.cpw-margin-l4{
  margin-left: 2rem;
}

.cpw-margin-t1{
  margin-top: 1rem;
}
.cpw-margin-t2{
  margin-top: 1.5rem;
}
.cpw-margin-t3{
  margin-top: 1.8rem;
}
.cpw-margin-t4{
  margin-top: 2rem;
}

.cpw-margin-b1{
  margin-bottom: 1rem;
}
.cpw-margin-b2{
  margin-bottom: 1.5rem;
}
.cpw-margin-b3{
  margin-bottom: 1.8rem;
}
.cpw-margin-b4{
  margin-bottom: 2rem;
}

/*
*cards
*/
.cpw-card{
  width: 100%;
  max-width: 225px;
  height: 225px;
  border: 1px solid #444;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  margin-top: .5rem;
  margin-right: .1rem;
  margin-left: .1rem;
}

/*
*add settings from grid items default
*/
.cpw-grid-item{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.cpw-grid-item:nth-child(1){
  background-color: transparent;
  grid-area: slide;
}
.cpw-grid-item:nth-child(2){
  background-color: transparent;
  grid-area: main;
}