:root{
  /* fonts */
  --roboto  : 'Roboto', sans-serif;

  /* variables dashboard */
  --color-primary: #0707BD; 
  --color-secondary: #Ff9900;
  --color-black: #000;
  --color-white: #FFF;
  
  --color-primary-background: #0707BD;
  --color-secondary-background: #Ff9900;
  --color-background: #FFF;
  --color-background-rgba: rgba(7, 7, 189, .1);

  --card-border-radius: 2rem;
  --border-radius-1: .4rem;
  --border-radius-2: .8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 4rem rgba(7, 7, 189, .2);
}
