header .navbar-brand.logo-scroll{
  display: none;
  transition: .3s all linear;
}
.navbar.fixed-top{
  background-color: rgba(90,90,90, .7);
  transition: .3s all linear;
}
.navbar.active{
  background-color: #FFF;
}
.navbar .navbar-brand img{
  width: 100%;
  max-width: 180px;
}
.navbar .navbar-nav .nav-item{
  padding: 0 .5rem;
}
.navbar .navbar-nav .nav-item .nav-link{
  color: var(--color-white);
  font-weight: 300;
  transition: .3s all ease-in-out;
}
.navbar .navbar-nav .nav-item .nav-link:hover{
  cursor: pointer;
  color: var(--color-primary);
}
.navbar .navbar-nav .nav-item.active .nav-link{
  color: var(--color-white);
  /* border-bottom: 3px solid var(--color-secondary); */
}