@media screen and (min-width: 992px){  
  .navbar .navbar-nav{
    margin: 0 auto;
  }
}

@media only screen and (max-width: 991px){
  #cw-services .slick-dots{
    bottom: -25px !important;
  }
}

@media screen and (min-width: 768px){
  /* flex */
  .cw-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* data anime */
  [data-anime]{
    opacity: 0;
    transition: .3s all ease;
  }
  [data-anime="left"]{
    transform: translate3d(-50px, 0px , 0px);
  }
  [data-anime="right"]{
    transform: translate3d(50px, 0px , 0px);
  }
  [data-anime="top"]{
    transform: translate3d(0px, -50px , 0px);
  }
  [data-anime="bottom"]{
    transform: translate3d(0px, 50px , 0px);
  }
  [data-anime].animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}

@media only screen and (max-width: 767px){
  .cw-flex{
    text-align: center;
  }
}

@media only screen and (max-width: 575px){
  #cw-services .cw-services .card-service{
    margin: 0 auto;
  }
}
