@media screen and (min-width: 992px){  
  .navbar .navbar-nav{
    margin: 0 auto;
  }
}

@media only screen and (max-width: 991px){
  #cw-services .slick-dots{
    bottom: -25px !important;
  }
}

@media screen and (min-width: 768px){
  /* flex */
  .cw-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media only screen and (max-width: 767px){
  .cw-flex{
    text-align: center;
  }
}

@media only screen and (max-width: 575px){
  #cw-services .cw-services .card-service{
    margin: 0 auto;
  }
}
